*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100vw;
	height:100vh;
	background: #5b5b5b;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.input_with_title_holder{
	width: 250px;
	height: 80px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background: #434343;
	margin-bottom: 12px;
	border: 1px solid #b5b5b5;
}

.input_with_title_holder>.title{
	width: 100%;
	height:40px;
	padding: 12px;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	color: white;
	font-family: system-ui;
	background: #7d7d7d;
}

.input_with_title_holder>.input_holder{
	width: 100%;
	height:40px;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	color: white;
	font-family: system-ui;
}

.input_with_title_holder> .input_holder > input{
	width: 100%;
	height:100%;
	padding: 0px 12px;
	background:none;
	border: none;
	outline: none;
	color: white;
}
